
<!DOCTYPE html>
<html lang = "en-us">
<head>
  <meta charset = "utf-8">
  <title>Form</title>
</head>

<body>
<h1>BMI Calculator</h1>
<form action = "/result"
      method = "post">
  <fieldset>
    <label>Enter Height</label>
    <input type = "text"
           value = "5"
           name = "feet" />
    <label>ft </label>
    <input type = "text"
           value = "0"
           name = "inches" />
    <label>in </label>
    <br/>
   <label>What's your weight? (in lbs)</label>
   <input type = "text"
        value = "200"
        name = "pounds"/>
    <button type = "submit">
      submit
    </button>
  </fieldset>
</form>
</body>
</html>




